<!DOCTYPE html>
<html>
<head>
	<title>Quotes API for Brooklyn Nine-Nine</title>
</head>
<body>
<h2>Quotes API for 🅱9️⃣9️⃣</h2>
<p>
    This service provides quotes from the beloved characters of Brooklyn Nine-Nine. This is an unofficial API created for fun.
    <br>
</p>
<h3><u>Available characters</u></h3>
<ul>
{% for char in char_list %}
  <li>{{char.title()}}</li>
{% endfor %}
</ul>
Other characters will be added later.<br>
Quotes are available only for the first 2 seasons now. (So you might see 'Quotes for this season not available yet.')
<h3 id="how-to-use"><u>How to use</u></h3>
<table border="1px"><tr><th>S.No.</th><th>Endpoint</th><th>Info</th><th>Try</th></tr>
<tr>
  <td>1</td>
  <td>/name/:name</td>
  <td>Use name from the above list to get a random quote from any season.</td>
  <td><a href="/name/holt">/name/holt</a></td>
</tr>
<tr>
  <td>2</td>
  <td>/name/:name?season=:season</td>
  <td>Similar as 1 but with given season.</td>
  <td><a href="/name/diaz?season=1">/name/diaz?season=1</a></td>
</tr>
<tr>
  <td>3</td>
  <td>/season/:season</td>
  <td>Get a random quote from any character for the given season.</td>
  <td><a href="/season/1">/season/1</a></td>
</tr>
<tr>
  <td>4</td>
  <td>/season/:season?name=:name</td>
  <td>Similar as 3 but with given name.</td>
  <td><a href="/season/1?name=peralta">/season/1?name=peralta</a></td>
</tr>
<tr>
  <td>5</td>
  <td>/title/</td>
  <td>Returns a random TITLE OF A TAPE</td>
  <td><a href="/title">/title</a></td>
</tr>
<tr>
  <td>6</td>
  <td>/title?name=:name</td>
  <td>Same as above but appends Title of :name's tape.</td>
  <td><a href="/title?name=santiago">/title?name=santiago</a></td>
</tr>
<tr>
  <td>7</td>
  <td>/insults/:name</td>
  <td>Returns a random insult by Holt/Wuntch but the name replaced with a given name.</td>
  <td><a href="/insults/boyle">/insults/boyle</a></td>
</tr>
<tr>
  <td>8</td>
  <td>/alias</td>
  <td>Returns all the known aliases of Jake Peralta in a JSON format.</td>
  <td><a href="/alias">/alias</a></td>
</tr>
<tr>
  <td>9</td>
  <td>/alias?season=:season</td>
  <td>Same as 8 but for a given season.</td>
  <td><a href="/alias?season=5">/alias?season=5</a></td>
</tr>
</table>
<h3><u>Disclaimer</u></h3>
I hereby declare that I do not own the rights to Brooklyn Nine-Nine or anything related. All rights belong to the owners(Fox BC and NBC). <br> Please note that the quotes are NOT used for monetary purposes in any way, shape, or form to my knowledge and copyright infringement is NOT intended.
<br>If you have any concerns, please create an issue <a href="https://github.com/thisisjustinm/b99-api/issues">here</a>, and I will address it ASAP.
<br><br>Copyleft (ɔ) 2021 Justin M.
</body>
</html>